@use "../../global/mixin.scss" as mixin;

.container {
  background-color: mixin.$muted-clr;
  overflow: auto; /* Enable scrolling for content that overflows the container */
  white-space: nowrap; /* Keep all items in a single line to enable horizontal scrolling */
  // width: 500px;
  // display: flex;
}
.title {
  text-align: start;
  padding: 16px 8px;
  font-weight: 500;
  font-size: 18px;
}
.products {
  display: flex;
  flex-wrap: nowrap;
}
